<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MTU Domino's Discount</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h1 class="cover-heading">Does Domino's have a discount today?</h1>
        <p class="lead">
            Domino's offers discounts for students based on the number of goals the hockey team 
            <br>
            has scored the previous day. Check below if there's a discount for Domino's today!
        </p>
    </div>
    <div>
        <h1>
            {{ output }}%
        </h1>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
</body>

</html>